<div class="row">
  <div class="col-12">
    <h1 id="tituloCadastro">O que você procura?</h1>

  </div>
</div>

<div class="row">
  <div class="offset-md-2 col-md-3 cardOpcao">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Cliente</h4>
        <p class="card-text">Caso escolha cliente, você irá poder ver todos os corretores disponíveis e contratar os seus serviços.</p>
        <a routerLink="/cliente" class="btn btn-dark">Ser um cliente</a>
      </div>
    </div>
  </div>
  <div class="offset-md-1 col-md-3 cardOpcao">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Corretor</h4>
        <p class="card-text">Caso escolha corretor, você irá ter acesso as solicitações
          referentes aos serviços que serão informados no seu cadastro.</p>
        <a routerLink="/corretor" class="btn btn-dark">Ser um corretor</a>
      </div>
    </div>
  </div>
</div>
