<div class="container">
<form  method="post" #frm="ngForm" (ngSubmit)="salvarCorretor(frm)">

<div class="row">
  <div class="col-md-8">
    <h1>Dados do Corretor</h1>
  </div>
  <div *ngIf="mostrarAlerta"class="col-md-4">
    <div class="alert alert-success">
        <p>{{retornoSalvar}}</p>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <label>Nome Completo</label>
    <div class="input-group mb-3">
      <input  required [(ngModel)]="corretor.nome" name="nome" type="text" class="form-control" placeholder="Nome">
    </div>
  </div>
  <div class="col-md-4">
    <label>CPF</label>
    <div class="input-group mb-3">
      <input required [(ngModel)]="corretor.cpf" name="cpf" type="text" class="form-control" placeholder="CPF">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <label>Email</label>
    <div class="input-group mb-3">
      <input required [(ngModel)]="corretor.email" name="email" type="email" class="form-control" placeholder="Email">
    </div>
  </div>
  <div class="col-md-4">
    <label>CRECI</label>
    <div class="input-group mb-3">
      <input required [(ngModel)]="corretor.creci" name="creci" type="text" class="form-control" placeholder="CRECI">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label>DDD</label>
    <div class="input-group mb-3">
      <input required [(ngModel)]="corretor.ddd" name="ddd" type="number" class="form-control" placeholder="DDD">
    </div>
  </div>
  <div class="col-md-3">
    <label>Celular</label>
    <div class="input-group mb-3">
      <input required [(ngModel)]="corretor.celular" name="celular" type="text" class="form-control" placeholder="Celular">
    </div>
  </div>
  <div class="col-md-3">
    <label>Nascimento</label>
    <div class="input-group mb-3">
      <input required [(ngModel)]="corretor.data_nascimento"  name="data_nascimento" type="date" class="form-control" placeholder="Data de nascimento">
    </div>
  </div>
  <div class="col-md-4">
    <label>CEP</label>
    <div class="input-group mb-3">
      <input [(ngModel)]="corretor.cep" name="cep" type="text" class="form-control" placeholder="CEP">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label>Numero</label>
    <div class="input-group mb-3">
      <input [(ngModel)]="corretor.numero" name="numero" type="text" class="form-control" placeholder="Numero">
    </div>
  </div>
  <div class="col-md-3">
    <label>Bairro</label>
    <div class="input-group mb-3">
      <input [(ngModel)]="corretor.bairro"  name="bairro" type="text" class="form-control" placeholder="Bairro">
    </div>
  </div>
  <div class="col-md-3">
    <label>Estado</label>
    <div class="input-group mb-3">
      <input [(ngModel)]="corretor.estado" name="estado" type="text" class="form-control" placeholder="Estado">
    </div>
  </div>
  <div class="col-md-4">
    <label>Cidade</label>
    <div class="input-group mb-3">
      <input [(ngModel)]="corretor.cidade" name="cidade" type="text" class="form-control" placeholder="Cidade">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <label>Logradouro</label>
    <div class="input-group mb-3">
      <input [(ngModel)]="corretor.logradouro" name="logradouro" type="text" class="form-control" placeholder="Logradouro">
    </div>
  </div>
  <div class="col-md-4">
    <label>Complemento</label>
    <div class="input-group mb-3">
      <input [(ngModel)]="corretor.complemento" name="complemento" type="text" class="form-control" placeholder="Complemento">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label>Serviço</label>
    <select required multiple [(ngModel)]="corretor.servico_id" name="servico_id[]" class="form-control">
      <option   value= {{s.id}} *ngFor="let s of servicos">{{s.nome}}</option>
    </select>
</div>
<div class="col-md-4">
  <label>Senha</label>
  <div class="input-group mb-3">
    <input required [(ngModel)]="corretor.password" name="password" type="password" class="form-control" placeholder="Senha">
  </div>
</div>
<div class="col-md-4">
  <label>Confirme sua senha</label>
  <div class="input-group mb-3">
    <input required [(ngModel)]="corretor.password_confirmation" name="password_confirmation" type="password" class="form-control" placeholder="Confirmar senha">
  </div>
</div>
</div>
<hr>
<div class="row">
  <div class="offset-md-8 col-md-4">
    <div class="row">
      <button (click)="limparCampos()" type="button" class=" offset-md-1 col-md-3 btn btn-secondary btn-sm">Limpar</button>
      <button routerLink="/cadastro" type="button" class=" offset-md-1 col-md-3 btn btn-danger btn-sm">Cancelar</button>
      <button type="submit" [disabled]="frm.invalid" type="button" (click)="salvarCorretor()" class=" offset-md-1 col-md-3 btn btn-success btn-sm" >Confirmar</button>
    </div>
  </div>
</div>
</form>
</div>
