<div class="container">
  <h3>Solicitações</h3>
  <hr>
    <!-- Serviços em andamento  -->
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Venda da casa</div>
      <div class="card-body">
        <h5 class="card-title">Informações do cliente</h5>
        <hr>
        <p>Nome: <span>Renato Lopes</span></p>
        <p>Data: <span>23/08/2018</span></p>

      </div>
      <div class="card-footer">
        <button style="margin: 5px" type="button" class="btn btn-small btn-success" name="button">Aceitar</button>
          <button style="margin: 5px" type="button" class="btn btn-small btn-danger" name="button">Recusar</button>
      </div>
    </div>
  <h3>Em andamento</h3>
  <hr>
    <!-- Serviços em andamento  -->
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Troca de documentos</div>
      <div class="card-body">
        <h5 class="card-title">Informações do cliente</h5>
        <hr>
        <p>Nome: <span>Ana Paula</span></p>
        <p>Data: <span>13/02/2018</span></p>

      </div>
      <div class="card-footer">
          <button style="margin: 5px" type="button" class="btn btn-small btn-danger" name="button">Finalizar</button>
      </div>
    </div>
  <h3>Concluídos</h3>
  <hr>
  <!-- Serviços concluídos  -->
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Troca de documentos vencidos</div>
    <div class="card-body">
      <h5 class="card-title">Informações do cliente</h5>
      <hr>
      <p>Nome: <span>Pedro Siqueira</span></p>
      <p>Data: <span>09/10/2017</span></p>
    </div>
  </div>
</div>
