<div class="container">
  <h3>Concluídos</h3>
  <hr>
  <!-- Serviços concluídos  -->
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Troca de documentos vencidos</div>
    <div class="card-body">
      <h5 class="card-title">Informações do corretor</h5>
      <hr>
      <p>Corretor: <span>Renato Lopes</span></p>
      <p>Data: <span>10/12/2010</span></p>

    </div>
  </div>
<h3>Em andamento</h3>
<hr>
  <!-- Serviços em andamento  -->
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Venda da casa</div>
    <div class="card-body">
      <h5 class="card-title">Informações do corretor</h5>
      <hr>
      <p>Corretor: <span>Romilson</span></p>
      <p>Data: <span>22/01/2012</span></p>

    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-small btn-danger" name="button">Cancelar</button>
    </div>
  </div>
</div>
