<!-- Modal -->
<div  class="modal fade" id="corretorPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Perfil do corretor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <img class="img-corretor" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR81Q8g-WHMjx6rd3M6gB1qyiemJeZHPa-QchkXDG2LaPOdCeXU">
          </div>
          <div class="col-8">
              <div class="row">
                  <div class="col-6">
                      <label for="">
                        <strong>Nome</strong>
                      </label>

                  </div>
                  <div class="col-6">
                    <label for="">
                      <strong>Telefone</strong>
                    </label>
                  </div>
              </div>
              <div class="row">
                <div class="col-6">
                    <label for="">
                      <strong>CRECI</strong>
                    </label>
                </div>
                <div class="col-6">
                    <label for="">
                      <strong>Email</strong>
                    </label>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Solicitar serviço</button>
      </div>
    </div>
  </div>
</div>
